@import 'src/colours';

.groupForm {
    max-width: 1040px;
    width: 100%;
    margin-top: 40px;

    > h2 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    > .groupFormBody {
        display: grid;
        grid-template-columns: 160px 1fr;
        background: $light-form-body;
        border-radius: 3px;
        font-size: 1.3rem;
        font-weight: 400;
        
        &.darkMode {
            background: $dark-form-body; 
        }
    }

    > .buttonRow {
        display: flex;
        justify-content: flex-end;

        > button {
            font-weight: 600;           
            margin-top: 8px;
            flex-basis: 75px;
            height: 30px;
            border-radius: 2px;
            border: 0;
            background: $primary-dark;
            color: $white;
            cursor: pointer;

            &:hover, &:active {
                background: $primary;
            }
        }
    }  
}