@import 'src/colours';

.fancyTextbox {
    padding: 5px 10px;
    border-radius: 3px;
    background: $light-fancy-textbox-background;
    color: $light-fancy-textbox-text;
    border: 2px solid transparent;

    &:focus {
        border: 2px solid $primary;
        background: $light-fancy-textbox-background-focus;
        outline: none;
    }

    &.darkMode {
        background: $dark-fancy-textbox-background;
        color: $dark-fancy-textbox-text;

        &:focus {
            background: $dark-fancy-textbox-background-focus;
        }
    }
}