@import 'src/colours';

.formFieldLabel, .formField {
    padding: 20px;
    border-bottom: 1px solid $light-form-field-bottom-border;

    &.darkMode {
        border-bottom: 1px solid $dark-form-field-bottom-border;  
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.formField {
    display: flex;
    flex-direction: column;

    > .formFieldExplanation {
        margin-top: 1rem;
    }
}