$box-shadow-color: rgba(0, 0, 0, 0.9);
$almost-transparent-white: rgba(255, 255, 255, 0.1);
$dark-black: #0e0e10;
$faint-dark-black: rgb(24, 24, 27);
$faint-dark-grey: rgba(255, 255, 255, 0.2);
$white: #FFF;
$faint-white: #EEE;
$faint-light-grey: #DDD;
$faint-light-grey-2: #CCC;
$faint-light-grey-3: #BBB;
$black: #111;
$primary: rgb(72, 130, 223);
$primary-dark: rgb(58, 105, 180);
$tile-sub-title: #999;
$tile-sub-title-light: #666;